<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>        
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/ltracker</property>
        <property name="connection.username">root</property>
        <property name="connection.password">mydbpwd</property>


        <!-- Connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
                
        <mapping class="com.lt.clienttracker.client"/>
        <mapping class="com.lt.clienttracker.assessment"/>
        <mapping class="com.lt.clienttracker.diagnosis"/>
        <mapping class="com.lt.clienttracker.ACE"/>
        <mapping class="com.lt.clienttracker.SASSI"/>
        <mapping class="com.lt.clienttracker.Beck"/>
        <mapping class="com.lt.clienttracker.discharge"/>
       

    </session-factory>
    
</hibernate-configuration>